html {
  height: 100%;
  width: 100%;
  display: block;
}
body {
  background-color: #d5d4d4;
  font-family: arial, sanserif;
}
svg {
  display: block;
  margin: 0 auto;
  width: 100%;
  height: auto;
  position: relative;
  top: 0;
  max-height: 100%;
}
svg path {
  fill: #9b9b9b;
  stroke: #4a4a4a;
}
svg path:hover {
  animation-duration: 350ms;
  animation-name: fadein;
  animation-timing-function: ease-out;
  fill: #000000;
  stroke: #000000;
  stroke-width: 2px;
}
svg path.hover {
  fill: #ffffff;
  stroke: #ffffff;
  stroke-width: 2px;
  opacity: 0.4;
  stroke-width: 20px;
}
@keyframes fadein {
  0% {
    stroke-width: 10px;
    z-index: 1;
  }
  30% {
    stroke-width: 10px;
  }
  60% {
    stroke-width: 5px;
  }
  100% {
    fill: #000000;
    stroke: #000000;
    stroke-width: 2px;
  }
}
.drawing {
  display: table-cell;
  vertical-align: middle;
}
.roman {
  bottom: 0;
  color: rgba(0, 0, 0, 0.05);
  display: block;
  font-family: Raleway;
  margin: 0;
  padding: 0;
  position: absolute;
  right: 0;
  text-align: right;
  z-index: 0;
  font-size: 6.1em;
}
@media screen and (min-width: 388px) {
  .roman {
    font-size: 7em;
  }
}
@media screen and (min-width: 470px) {
  .roman {
    font-size: 9em;
  }
}
@media screen and (min-width: 600px) {
  .roman {
    font-size: 11.7em;
  }
}
@media screen and (min-width: 700px) {
  .roman {
    font-size: 14em;
  }
}
.footer {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  top: auto;
  width: 100%;
  margin: 5px 0;
}
.footer .row {
  padding: 0 0.2em;
  font-size: 2em;
}
.footer .row .menu,
.footer .row .controls,
.footer .row .description {
  display: inline-block;
}
.footer .row .description {
  color: #494747;
  font-size: 18px;
  width: 100%;
  max-width: 196px;
  text-align: center;
  line-height: 0.9;
}
@media screen and (min-width: 388px) {
  .footer .row .description {
    text-align: right;
    max-width: 85%;
    float: right;
    color: #7d7a7a;
    width: auto;
    font-size: 1.1em;
  }
}
.ctrl {
  color: #afadad;
}
.ctrl-elm {
  display: none;
  vertical-align: top;
  cursor: pointer;
}
.ctrl-count {
  color: #d5d4d4;
  background: #afadad;
  padding: 0 0.6em;
  border-radius: 1em;
}
.icon-menu {
  opacity: 0.5;
  width: 24px;
}
.menu {
  position: fixed;
  z-index: 1;
  width: 100%;
  top: auto;
  bottom: 48px;
  margin: 0;
  left: -100%;
  right: auto;
  overflow: hidden;
  height: 72px;
}
.menu.open {
  left: 0;
}
.menu-inner {
  position: relative;
  left: 0;
  right: 0;
  overflow-x: scroll;
  top: 0;
  height: 100px;
}
.menu-list {
  list-style: none;
  padding: 0;
  margin: 0;
  white-space: nowrap;
}
.menu-list li {
  display: inline-block;
}
.menu-list strong,
.menu-list em,
.menu-list a {
  display: block;
  text-decoration: none;
  font-style: normal;
  font-weight: normal;
  color: #ffffff;
}
.menu-list strong {
  font-size: 2.5em;
}
.menu-list em {
  font-size: 0.6em;
}
.menu-list a {
  margin: 2px;
  border-radius: 3px;
  background: rgba(0, 0, 0, 0.4);
  width: 90px;
  padding: 5px;
}
.menu-list a.seen {
  background: rgba(0, 0, 0, 0.05);
}
.menu-list a.current {
  background: rgba(0, 0, 0, 0.9);
}
.progress {
  position: fixed;
  left: 0;
  right: 0;
  bottom: 0;
  top: auto;
  display: block;
  height: 4px;
  margin: 0;
}
.progress-bar {
  background: black;
  position: relative;
  height: 100%;
  width: 0%;
}
.container {
  background-image: radial-gradient(50% 50%, #ffffff 0%, #d5d4d4 90%);
  background-repeat: no-repeat;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  display: table;
  vertical-align: middle;
  text-align: center;
  z-index: 0;
}
.copyright {
  font-size: 10px;
  color: #bcbaba;
  transform: rotate(90deg);
  top: 0;
  transform-origin: 0 0;
  white-space: nowrap;
  left: 100%;
  position: absolute;
  margin: 5px -5px;
  text-transform: uppercase;
}
