
.menu {
    bottom: 0;
    position: absolute;
    left: 0;
    z-index: 1;
}

.menu-hide {
    display: none;
}

.menu-toggle {
    width: 2em;
    height: 2em;
    background-color: #deddd3;
    position: fixed;
    right: 0;
    top: 0;
    margin: 20px;
    border-radius: 15em;
    border: 0.15em solid #4e4e4e66;
}

.menu-sketches {
    margin: auto;
    position: fixed;
    left: 0;
    bottom: 0;
    top: 0;
    right: 0;
    width: 80%;
    max-width: 1765px;
    z-index: 10;
}

.menu-hide {
    display: none;
    z-index: -1;
}

.menu-viewed.rings {
    --color: #ffffff3d;
}
