/* the parent container */
.circles {
    width: 80%;
    /* margin: 10% auto; */
    /* border: 1px solid; */
    height: 50%;
    text-align: center;
}

/* common styling */
.inline {
    --color: #484845;
    font-size: 15px;
    transform: scale(0.95);
    display: inline-block;
    vertical-align: middle;
    padding: 0;
}

/* hide the size */
.inline em {
    display: none;
}

/* the BG ring background */
.rings {
    background: radial-gradient(
        circle,
        transparent 0%,
        transparent 10%,
        var(--color) 11%,
        var(--color) 15%,
        transparent 16%,
        transparent 20%,
        var(--color) 21%,
        var(--color) 25%,
        transparent 26%,
        transparent 30%,
        var(--color) 31%,
        var(--color) 35%,
        transparent 36%,
        transparent 40%,
        var(--color) 41%,
        var(--color) 45%,
        transparent 46%,
        transparent 50%,
        var(--color) 51%,
        var(--color) 55%,
        transparent 56%,
        transparent 60%,
        var(--color) 61%,
        var(--color) 65%,
        transparent 66%,
        transparent 70%,
        var(--color) 71%,
        var(--color) 75%,
        transparent 76%,
        transparent 80%,
        var(--color) 81%,
        var(--color) 85%,
        transparent 86%,
        transparent 90%,
        var(--color) 91%,
        var(--color) 95%,
        transparent 96%,
        transparent 100%
    );
    background-position: center center;
    background-size: 12em 12em;
    background-repeat: no-repeat;
    border-radius: 10em;
}

.zero {
    width: 3em;
    height: 3em;
}
.one {
    width: 4.8em;
    height: 4.8em;
}

.two {
    width: 6.5em;
    height: 6.5em;
}

.three {
    width: 8.2em;
    height: 8.2em;
}

.four {
    width: 10em;
    height: 10em;
}
.five {
    width: 11.5em;
    height: 11.5em;
}
