@import "./metadata.css"; @import "./menu.css"; @import "./svg.css"; @import "./rings.css"; html, body {
    display: block;
    height: 100%;
    width: 100%;
    background: #deddd3;
    color: #333333;
    overflow: hidden;
    font-family: Raleway, Arial, Helvetica, sans-serif;
    font-size: 14px;
    margin: 0;
    padding: 0;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
}

body.newsprint {
    background-image: url(../images/newsprint-02.jpg);
}

body.aluminium {
    background-image: url(../images/aluminium-01.png);
}

body.plywood {
    background-image: url(../images/plywood-01.jpg);
}

#container {
    display: flex;
    justify-content: center;
    height: 100%;
    width: 100%;
}

.welcome {
    margin: auto;
    max-width: 40%;
}

.welcome-instructions {
    padding: 1em;
    margin: 4em 0 0 0;
    border-radius: 3em;
    padding: 0.8em 1.6em;
    font-family: Roboto;
    color: #CEC7C7;
    background: #6b6b6bc4;
    box-shadow: 0px 34px 24px rgba(0, 0, 0, 0.25);
    border-radius: 99px;
    position: relative;
    font-size: 14px;
}

.welcome-instructions b, .welcome-instructions u {
    font-weight: bold;
    color: #ffffff;
}

.welcome-instructions u {
    position: absolute;
    right: 0;
    padding: 0 2em 0 0;
    cursor: pointer;
}
