/* Rectangle 23: */
body {
  background: #ffffff;
  /* Old browsers */

  background: -moz-radial-gradient(center, ellipse cover, #ffffff 0%, #bfbfbf 100%);
  /* FF3.6+ */

  background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%, #ffffff), color-stop(100%, #bfbfbf));
  /* Chrome,Safari4+ */

  background: -webkit-radial-gradient(center, ellipse cover, #ffffff 0%, #bfbfbf 100%);
  /* Chrome10+,Safari5.1+ */

  background: -o-radial-gradient(center, ellipse cover, #ffffff 0%, #bfbfbf 100%);
  /* Opera 12+ */

  background: -ms-radial-gradient(center, ellipse cover, #ffffff 0%, #bfbfbf 100%);
  /* IE10+ */

  background: radial-gradient(ellipse at center, #ffffff 0%, #bfbfbf 100%);
  /* W3C */

  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffff', endColorstr='#bfbfbf', GradientType=1);
  /* IE6-9 fallback on horizontal gradient */

}
svg {
  display: block;
  margin: 0 auto;
}
