.menu {
    bottom: 0;
    position: absolute;
    left: 0;
    z-index: 2;
}

.menu-toggle {
    width: 2em;
    height: 2em;
    background-color: #deddd3;
    position: fixed;
    right: 0;
    top: 0;
    margin: 20px;
    border-radius: 15em;
    border: 0.15em solid #4e4e4e66;
}

.menu-sketches {
    margin: auto;
    position: fixed;
    left: 0;
    bottom: 0;
    top: 0;
    right: 0;
    width: 80%;
    max-width: 1765px;
    z-index: 10;
}

.menu-hide {
    display: none;
    /*     z-index: -1; */
}

.menu-viewed.rings {
    --color: #ffffff;
}


.rings.menu-viewed .menu-no {
    --color: #ffffff;
}


.label {
    opacity: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    background-color: black;
    color: white;
    padding: 0.5em 1.1em;
    margin: 1em 1em;
    border-radius: 5em;
    width: 8em;
    text-align: left;
    cursor: pointer;
}

.label-show .label {
    opacity: 1;
    transition: 1500 opacity;
}

.label-dot {
    width: 6px;
    height: 6px;
    background-color: white;
    display: block;
    position: absolute;
    right: 0;
    top: 50%;
    margin: -3px 1em 0 0;
    border-radius: 3em;
}

.label-highlights {
    right: 0;
    top: 10%;
}

.label-play {
    right: 0;
    top: auto;
    bottom: 0;
}

.label-previous, .label-next {
    right: 0;
    top: 50%;
}

.label-previous {
    right: unset;
}

.label-previous .label-dot {
    right: unset;
}

.label-previous .label-name {
    text-align: right;
    display: block;
}

.label-canvas {
    right: 50%;
}

.minimal {
    --delay: 750ms; }

; .minimal .label:hover, .label:hover {
    background-color: #000000ff;
    transition: var(--delay) background-color;
}

.minimal .label:hover, .label:hover {
    background-color: #000000ff;
    transition: var(--delay) background-color;
}

.minimal .label:hover .label-name, .label:hover .label-name {
    color: #ffffff;
    opacity: 1;
    transition: var(--delay) opacity;
}

.minimal .label:hover .label-dot, .label:hover .label-dot {
    background-color: #ffffffff;
    transition: var(--delay) background-color;
}

.minimal .label {
    background-color: transparent;
    transition: var(--delay) background-color;
}

.minimal .label-name {
    opacity: 0;
    transition: var(--delay) opacity;
}

.minimal .label-dot {
    background-color: #00000094;
    transition: var(--delay) background-color;
}
