
.meta {
    position: absolute;
    left: 0;
    right: 0;
    top: auto;
    bottom: 0;
    z-index: 1;
}

/* roman numerals */
.meta-no {
    position: fixed;
    top: 0;
    right: 0;
    font-size: 43px;
    margin: 12px 80px 0 0;
    color: #0000007a;
    text-align: right;
    font-weight: normal;
}

/* sketch description */
.meta-title {
    position: absolute;
    bottom: 0;
    right: 0;
    left: 0;
    font-size: 40px;
    margin: 0.6em;
    line-height: 0.7;
    text-align: center;
    font-weight: 100;
}

/* copyright statment */
.meta-desc {
    position: fixed;
    width: auto;
    bottom: 4px;
    left: 4px;
    font-size: 12px;
    font-weight: bold;
    margin: 2px 16px;
    color: #00000044;
    text-align: left;
    transform-origin: left center;
    transform: rotate(-90deg);
}
.meta-desc a {
    color: inherit;
}

.meta-percent {
    position: fixed;
    bottom: 0;
    left: 0;
    height: 3px;
    width: var(--percent, 0);
    background-color: black;
    margin: 2px;
}
k