/* the parent container */
.circles {
    text-align: center;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

/* common styling */
.inline {
    --color: #484845;
    font-size: 15px;
    transform: scale(0.95);
}

/* hide the size */
.inline em {
    display: none;
}

.rings .menu-no {
    height: 1.2em;
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    margin: auto;
    color: var(--color);
    font-family: sans-serif;
    display: block;
    font-style: normal;
    font-size: 14px;
    font-weight: 700;
}

.rings.current .menu-no, .rings.current.menu-viewed, .rings.current {
    --color: black; }

.rings.current .menu-no {
    background: var(--color);
    width: 1em;
    border-radius: 10px;
    height: 1em;
    overflow: hidden;
    font-size: 10px;
}

/* the BG ring background */
.rings {
    background: radial-gradient( circle, transparent 0%, transparent 10%, var(--color) 11%, var(--color) 15%, transparent 16%, transparent 20%, var(--color) 21%, var(--color) 25%, transparent 26%, transparent 30%, var(--color) 31%, var(--color) 35%, transparent 36%, transparent 40%, var(--color) 41%, var(--color) 45%, transparent 46%, transparent 50%, var(--color) 51%, var(--color) 55%, transparent 56%, transparent 60%, var(--color) 61%, var(--color) 65%, transparent 66%, transparent 70%, var(--color) 71%, var(--color) 75%, transparent 76%, transparent 80%, var(--color) 81%, var(--color) 85%, transparent 86%, transparent 90%, var(--color) 91%, var(--color) 95%, transparent 96%, transparent 100% );
    background-position: center center;
    background-size: 12em 12em;
    background-repeat: no-repeat;
    border-radius: 10em;
    margin: auto 0%;
}

.zero {
    width: 2.8em;
    height: 2.8em;
}

.one {
    width: 4.8em;
    height: 4.8em;
}

.two {
    width: 6.5em;
    height: 6.5em;
}

.three {
    width: 8.1em;
    height: 8.1em;
}

.four {
    width: 10em;
    height: 10em;
}

.five {
    width: 11.5em;
    height: 11.5em;
}
