@import "./metadata.css";
@import "./menu.css";
@import "./svg.css";
@import "./rings.css";
@import "./welcome.css";
@import "./status.css";

html,
body {
    display: block;
    height: 100%;
    width: 100%;
    background: #deddd3;
    color: #333333;
    overflow: hidden;
    font-family: Raleway, Arial, Helvetica, sans-serif;
    font-size: 14px;
    margin: 0;
    padding: 0;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
}

body.newsprint {
    background-image: url(../images/newsprint-02.jpg);
}

body.aluminium {
    background-image: url(../images/aluminium-01.png);
}

body.plywood {
    background-image: url(../images/plywood-01.jpg);
}

#container {
    display: flex;
    justify-content: center;
    height: 100%;
    width: 100%;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    overflow-y: auto;
}
