

svg {
    margin: 5%;
    width: 100%;
    height: auto;
    position: static;
    z-index: 4;
}

.svg-path {
    stroke: black;
    stroke-width: 0.15;
    fill: none;
}
.svg-title {
    display: none;
}

.svg-blur svg {
    filter: blur(25px);
    transition: 150ms filter ease-in;
    z-index: 0;
}
