.welcome {
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: center;
  font-size: 20px;
  height: 100%;
}
.welcome svg {
  margin: 0 auto;
  position: relative;
  height: auto;
  width: 80%;
}
.welcome p {
  --color: #00000033;
  display: inline-block;
  margin: -6em auto 0;
  background: #00000000;
  color: var(--color);
  border: 0px solid var(--color);
  border-radius: 30px;
  padding: 5px 30px 8px;
  position: relative;
}
.welcome em {
  color: white;
  text-align: left;
  border-radius: 15px;
  position: absolute;
  left: 100%;
}
.welcome .stroke {
  z-index: 0;
}
.welcome .stroke-one {
  stroke-width: 15;
  stroke: rgba(255, 255, 255, 0.5);
}
.welcome .stroke-two {
  stroke-width: 5;
  stroke: black;
}
.welcome .stroke-three {
  stroke: rgba(255, 255, 255, 0.1);
  stroke-width: 250;
}

