
.welcome {
    margin: auto;
    /* width: 70%; */
    font-size: 7vw;
}

.welcome-instructions {
    padding: 1em;
    margin: -2em 0 0 0;
    border-radius: 3em;
    padding: 0.8em 1.6em;
    font-family: Roboto;
    color: #797979;
    background: #6b6b6b38;
    box-shadow: 0px 34px 24px rgba(0, 0, 0, 0.05);
    border-radius: 99px;
    position: relative;
    font-size: 0.8vw;
    width: 100%;
    text-align: center;
}

.welcome-instructions b,
.welcome-instructions u {
    font-weight: bold;
    color: #ffffff;
}

.welcome-instructions u {
    cursor: pointer;
}
