
.welcome {
    margin: auto;
    width: 70%;
}

.welcome-instructions {
    padding: 1em;
    margin: 4em 0 0 0;
    border-radius: 3em;
    padding: 0.8em 1.6em;
    font-family: Roboto;
    color: #cec7c7;
    background: #6b6b6bc4;
    box-shadow: 0px 34px 24px rgba(0, 0, 0, 0.25);
    border-radius: 99px;
    position: relative;
    font-size: 1.6vw;
}

.welcome-instructions b,
.welcome-instructions u {
    font-weight: bold;
    color: #ffffff;
}

.welcome-instructions u {
    cursor: pointer;
}
